.input-box{
    font-family: monospace;
    width: 15rem;
    height: 2rem;
    border: 1px solid #ccc;
    text-transform: capitalize;
}

.input-box:focus{
    border-color: dodgerblue;
    outline: none;
}
